// @topHeight: 600px;
@topHeight: 100vh;
@videoImgHeight: 100vh;
@videoHideTime: 4s;
@cloudFastTime: 100s;
@cloudSlowTime: 120s;
@import "./variable.less";
// @cloudFastTime: 10s;
// @cloudSlowTime: 12s;
.top-show {
    height: @videoImgHeight;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 10;
    background-image: url(/img/new-city.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .cloud {
        position: absolute;
        width: 100%;
        top: 0px;
        left: 0%;
        z-index: 0; // animation: cloudMove @cloudTime cubic-bezier(0,0, 1, 1) 0s 2 alternate both; 
        // animation: myfirst 2s ease 0s 2 alternate both;
    }
    .cloud-fast {
        left: 100%;
        animation: cloudMove @cloudFastTime cubic-bezier(0, 0, 1, 1) 0s infinite alternate both;
    }
    .cloud-slow {
        left: -100%;
        animation: cloudMove2 @cloudSlowTime cubic-bezier(0, 0, 1, 1) 0s infinite alternate both;
    }
}

// @keyframes cloudMove
@keyframes cloudMove {
    0% {
        left: 100%;
    }
    100% {
        left: -100%;
    }
}

@keyframes cloudMove2 {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}

@carMargin: -20px;
@carWidth: 15%;
@scal: 1.8;
.hold-car {
    position: absolute;
    bottom: 8%;
    z-index: 2;
    height: 11vw;
    width: 100%; // background-image: url(/img/new-city.png);
    // background-position: bottom;
    // background-size: cover;
    // background-repeat: no-repeat;
    .city {
        position: absolute;
        width: 100%;
        height: auto;
        bottom: 4.6vw;
    }
    .left-car,
    .right-car {
        .wrap-img {
            position: relative;
            display: inline-block;
            height: auto;
            width: @carWidth;
            cursor: pointer;
            transition: all 1s ease 0s;
            img {
                width: 100%;
                height: auto;
            }
            &:hover {
                z-index: 100;
                transform: scale(@scal);
            }
            .car-name {
                position: absolute;
                bottom: -28px;
                left: 50%;
                color: white;
                transform: translateX(-50%);
                min-width: 56px;
                font-size: 14px;
            }
        }
    }
    .left-car {
        .wrap-img {
            margin-left: @carMargin;
        }
    }
    .right-car {
        .wrap-img {
            margin-right: @carMargin;
        }
    }
}

//控制视频的播放模块
.top-module {
    height: @topHeight;
    overflow: hidden;
    position: relative;
    .top-video {
        width: 100%;
        height: 100%;
        transition: opacity @videoHideTime;
        position: relative;
        z-index: 20; // z-index: 0;
        object-fit: cover;
    }
    .video-hide {
        opacity: 0;
    }
}

.nav-header {
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    height: 80px;
    z-index: 50;
    background-color: rgba(124, 132, 144, 0.8);
    border-bottom: 1px solid white; // background-color: rgba(123, 123, 123, 0.4);
    .item-detail {
        cursor: pointer;
    }
}

.third-tab {
    // height: 456px;
    padding: 80px 0px;
}

.video-close-btn {
    text-align: center;
    img {
        height: 50px;
        width: 50px;
        transition: all 0.5s ;
        &:hover {
            transform: rotate(180deg);
        }
    }
    position: absolute;
    top: 100px;
    z-index: 30;
    right: 20px; // background-image: url(/img/close.png);
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: contain;
    cursor: pointer; // 
}

@lineNodeWidth: 5vw;
@lineNodeHeight: 3px;
@detailNodeWidth: 20px;
.second-tab {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    border-bottom: 1px solid black; // padding-top: 500px;
    .date-hold {
        height: 448px;
        font-size: 0px;
        display: flex; // justify-content: center;
        align-items: center;
        display: flex;
        justify-content: center;
        .line-node {
            width: @lineNodeWidth;
            height: @lineNodeHeight;
            background-color: black;
            line-height: 0px;
            display: inline-block;
        }
        .detail-node {
            display: inline-block;
            height: @detailNodeWidth;
            width: @detailNodeWidth;
            border-radius: 50%;
            background-color: green;
            position: relative;
            font-size: initial;
            .year-hold {
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
            }
            @topPadding: 5px;
            @borderHeight: 15px;
            @borderMsg: @borderHeight solid transparent;
            @descHoldOffset: 80px;
            .desc-hold {
                position: absolute;
                width: 200px;
                left: 50%;
                transform: translateX(-50%);
                border: 1px solid black;
                padding: @topPadding 10px;
                border-radius: 5px;
            }
            .desc-hold-bottom {
                top: @descHoldOffset;
                &::before {
                    content: "";
                    height: 10px;
                    width: 10px;
                    position: absolute;
                    border-left: @borderMsg;
                    border-bottom: @borderHeight solid black;
                    border-right: @borderMsg;
                    border-top: @borderMsg;
                    top: -@borderHeight*2 ;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
            .desc-hold-top {
                bottom: @descHoldOffset;
                &::after {
                    content: "";
                    height: 10px;
                    width: 10px;
                    position: absolute;
                    border-left: @borderMsg;
                    border-top: @borderHeight solid black;
                    border-right: @borderMsg;
                    border-bottom: @borderMsg;
                    bottom: -@borderHeight*2 ;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
            .desc-hold-end {
                left: -153px;
                transform: unset;
                &::before {
                    left: 85%;
                }
                &::after {
                    left: 85%;
                }
            }
            .desc-hold-start {
                left: -20px;
                transform: unset;
                &::before {
                    left: 14%;
                }
                &::after {
                    left: 14%;
                }
            }
        }
    }
}

.third-tab {
    .service-item {
        width: 262px;
        text-align: center;
        img {
            height: 56px;
            width: auto;
        }
    }
}