// @topHeight: 600px;
@topHeight: 100vh;
@videoImgHeight: 100vh;
@videoHideTime: 4s;
@cloudFastTime: 100s;
@cloudSlowTime: 120s;
// @cloudFastTime: 10s;
// @cloudSlowTime: 12s;
.top-show {
    height: @videoImgHeight;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 10;
    background-image: url(/img/sky.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    .cloud {
        position: absolute;
        width: 100%;
        top: 0px;
        left: 0%;
        z-index: 0; // animation: cloudMove @cloudTime cubic-bezier(0,0, 1, 1) 0s 2 alternate both; 
        // animation: myfirst 2s ease 0s 2 alternate both;
    }
    .cloud-fast {
        left: 100%;
        animation: cloudMove @cloudFastTime cubic-bezier(0, 0, 1, 1) 0s infinite alternate both;
    }
    .cloud-slow {
        left: -100%;
        animation: cloudMove2 @cloudSlowTime cubic-bezier(0, 0, 1, 1) 0s infinite alternate both;
    }
}

// @keyframes cloudMove
@keyframes cloudMove {
    0% {
        left: 100%;
    }
    100% {
        left: -100%;
    }
}

@keyframes cloudMove2 {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}

@carMargin: -20px;
@carWidth: 15%;
@scal: 1.8;
.hold-car {
    position: absolute;
    bottom: 28%;
    z-index: 2;
    height: 11vw;
    width: 100%;
    background-image: url(/img/stage.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    .city {
        position: absolute;
        width: 100%;
        height: auto;
        bottom: 4.6vw;
    }
    .left-car,
    .right-car {
        img {
            height: auto;
            width: @carWidth;
            cursor: pointer;
            transition: all 1s ease 0s;
            &:hover {
                z-index: 100;
                transform: scale(@scal);
            }
        }
    }
    .left-car {
        img {
            margin-left: @carMargin;
        }
    }
    .right-car {
        img {
            margin-right: @carMargin;
        }
    }
}

//控制视频的播放模块
.top-module {
    height: @topHeight;
    overflow: hidden;
    position: relative;
    .top-video {
        width: 100%;
        height: 100%;
        transition: opacity @videoHideTime;
        position: relative;
        z-index: 20; // z-index: 0;
        object-fit: cover;
    }
    .video-hide {
        opacity: 0;
    }
}

.nav-header {
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    height: 80px;
    z-index: 50;
    background-color: rgba(124, 132, 144, 0.8);
    border-bottom: 1px solid white; // background-color: rgba(123, 123, 123, 0.4);
    .item-detail {
        cursor: pointer;
    }
}

.second-tab {
    height: 418px;
}

.third-tab {
    height: 456px;
}

.video-close-btn {
    height: 50px;
    width: 50px; // background-color: white;
    position: absolute;
    top: 100px;
    z-index: 30;
    right: 20px;
    background-image: url(/img/close.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    transition: all 0.5s ease 0s;
    &:hover{
        transform: rotate(180deg);
    }
}